@import "tailwindcss";
.textPrimary {
  color: #fa6100;
  width: 110px;
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
}

.textAccent {
  color: #1461f0;
}

.textGray {
  color: #939393;
}

.bgPrimary {
  background-color: #fa6100;
}

.bgSecondary {
  background-color: #dcfd3f;
}

.bgAccent {
  background-color: #1461f0;
}

.bgAccentLight {
  background-color: #e8effe;
}

.textAccentLight {
  color: #1461f0;
}

.borderAccentLight {
  border-color: #e8effe;
}

.borderPrimary:focus {
  outline: none;
}
.starFilled {
  color: #f5ce47;
  stroke: #f5ce47;
  stroke-width: 2;
}

.dotAccent {
  background-color: #1461f0;
}

.textWhite {
  color: #ffffff;
}
header {
  padding: 45px 0;
}
.textactive {
  color: #fa6100;
}
.textUrgent {
  color: #fa6100;
  font-size: 12px;
  font-weight: 400;
}
.refuse {
  background-color: white;
  border: 1px solid #e5733f;
  color: black;
  padding: 10px 20px;
  margin-right: 15px;
}
